.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: rgb(146, 216, 198);
    padding: 40px;
    column-gap: 1rem;


}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    background-color: rgb(179, 233, 219);
    padding: 2rem;
    border-radius: 1rem;
}

.project{
    background-color: rgb(146, 216, 198);
    color: rgb(64, 64, 221);
    width: 100vw;
    padding: 40px;
}

.nav-link{
    display:flex;
    justify-content: center;
    align-items: center;

    color:rgb(255, 255, 255);
    font-family: "Patua One", serif;
    text-decoration: none;
    font-size: 2rem;
}